
<div class="card bg-dark text-white">

  <div class="card-header">
    Routines for <%= @user.username.capitalize %>
  </div>

<div class="card-body">
  <% @routines.each do |routine| %>
    <strong><%= link_to "#{routine.name}", user_routine_path(@user, routine), class: "text-muted mb"%></strong><br>
  <%end%>
</div>

<% if @user.id == session[:user_id]%>
<div class= "m-blr">
  <%= link_to 'Add Routine', new_user_routine_path(@user), class:"btn btn-secondary btn-sm"%><br>
</div>

<%end%>


</div>
