
<div class="card bg-dark text-white">

  <div class="card-header">
    Routines for <%= @user.username.capitalize %>
  </div>

<div class="card-body">
  <% @routines.each do |routine| %>
    <%= link_to "#{routine.name}", user_routine_path(@user, routine) %><br>
  <%end%>
</div>

</div>

<% if @user.id == session[:user_id]%>
<br>
<br>
  <%= link_to 'Add Routine', new_user_routine_path(@user), class:"btn btn-secondary btn-sm"%><br>
<%end%>
