body { padding-top: 80px;
      text-align: left;
      background-color: black;
      background-image: url('weights.jpg');
      background-size: cover;
      background-repeat:no-repeat;
      }

/*Alternate Backgroun Colors*/

/*#A7172E;*/
/*#003153;*/

.mb-xs {
  margin-bottom: 10px;
}

.mb-sm {
  margin-bottom: 20px;
}

.mt-sm {
  margin-top: 20px;
}

.mp-md {
  padding-bottom: 30px
}

.ml-sm {
  margin-left: 10px;
}

.ml-md {
  margin-left: 20px;
}

.m-blr {
  margin: 0px 20px 20px 20px;
}
